$black: #202020;
$black-light: #474747;
$white: #ffffff;
$red: #eb2328;
$red-dark: #9f0013;
$border-black: #4b4a4a;
$gray-text: #8a8989;
$gradient-black: linear-gradient(
  0deg,
  rgba(0, 0, 0, 1) 27%,
  rgba(0, 0, 0, 1) 29%,
  rgba(0, 0, 0, 0) 100%
);
$gradient-red: linear-gradient(
  0deg,
  rgba(20, 0, 0, 1) 26%,
  rgba(0, 0, 0, 0) 100%
);
