@import "../../../styles/variables";

.button {
  width: 165px;
  margin-top: 25px;
  padding: 15px 0;
  border: none;
  font-weight: 900;
  background-color: $red;
  color: $white;
  cursor: pointer;
  transition: 0.05s all ease-in;
  clip-path: polygon(10% 0%, 100% 0%, 100% 60%, 90% 100%, 0% 100%, 0% 40%);

  &:hover {
    background-color: $red-dark;
  }
}
