@import "../../styles/variables";
@import "../../styles/mixins";

.header {
  // position: fixed;
  height: 60px;
  background-color: $black;

  .container {
    width: calc(100vw - 100px);
    margin: 0 auto;
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 25px;

    // @include border-left;
    // @include border-right;

    .logo {
      @include wrapper-flex(center);

      &_text {
        padding: 3px 10px 0px 3px;
        background-color: $red;
        font-family:
          "Fjalla One",
          sans-ser if;
        font-size: 50px;
        font-weight: 900;
        letter-spacing: -3.5px;
        color: $white;
        user-select: none;
        transition: 0.05s all ease-in;

        &:hover {
          background-color: $red-dark;
        }
      }
    }

    .wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      white-space: nowrap;

      &_icon,
      &_login {
        @include wrapper-flex(center);
        @include border-right;
        padding: 0 25px;
        gap: 20px;
      }

      .link,
      .icon {
        font-weight: 500;
        color: $black-light;
        user-select: none;
        cursor: pointer;
        transition: 0.2s all ease-in;

        &:hover {
          color: $gray-text;
        }
      }
    }
  }
}
