@import "../../styles/variables";
@import "../../styles/mixins";

.search {
  @include wrapper-flex(center);
  @include border-left;
  @include border-right;

  width: 30vw;
  min-width: 250px;
  position: relative;
  color: $gray-text;
  font-size: 14px;

  .button {
    position: absolute;
    right: 34px;
    top: 23px;
    outline: none;
    background: none;
    border: none;
    color: $gray-text;
    transition: all 0.1s ease-in;
    cursor: pointer;

    &:hover {
      scale: 1.2;
    }
  }

  .input {
    width: 100%;
    padding: 5px 60px 5px 15px;
    margin: 0 25px;
    border: $border-black;
    border-radius: 3px;
    color: $gray-text;
    background-color: $black-light;
    transition: border 0.1s ease-in;

    &:focus {
      border: 1px solid $dark-text;
    }
  }

  .iconClose {
    position: absolute;
    right: 60px;
    top: 23px;
    cursor: pointer;
    transition: all 0.1s ease-in;

    &:hover {
      scale: 1.2;
    }
  }
}

// box

.suggest  {
  z-index: 9;
  top: 110%;
  position: absolute;
  width: calc(100% - 50px);
  left: 25px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 12px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background: $black-light;
  border-radius: 4px;
  color: $gray-text;

  .card {
    display: flex;
    align-items: center;
    gap: 10px;
    color: $gray-text;

    img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      object-position: top;
    }

    &:hover {
      background-color: $dark-text;
      color: $white;
    }
  }
}

.box::-webkit-scrollbar {
  display: none;
}
